<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/output.css}">
  <script type="text/javascript" th:src="@{/js/jquery/dist/jquery.js}"></script>
  <script type="text/javascript" th:src="@{/js/script.js}"></script>
  <title>Images</title>
</head>
<body class="max-w-full flex flex-col align-middle justify-center p-5 bg-gray-700">
<div class="w-full min-h-0 h-full flex flex-row justify-center overflow-y-scroll">
  <div class="w-full min-h-0 mx-auto flex flex-row gap-10 flex-wrap justify-center">
    <div th:each="info: ${infos}" class="infoContainer relative w-[45%] h-[45%] p-2 flex gap-2 items-center"
        th:classappend="${!info.isBreak() ? 'bg-white rounded-md shadow-sm shadow-[rgba(1,1,1,0.2)] 
        hover:shadow-xl hover:shadow-blue-700 duration-100 ease-in' : ''}">
      <div th:if="${!info.isBreak()}" class="flex flex-col w-full h-full">
        <span th:text="${info.getName()}"></span>
        <img th:src="${info.getImagePath()}" class="h-full min-h-0 mx-auto">
      </div>
      <div th:if="${!info.isBreak()}" class="info hidden">
      </div>
      <div th:if="${!info.isBreak()}" class="info-toggler absolute inset-0 h-full w-full text-white rounded-xl cursor-pointer
                hover:animate-pulse"
           onclick="toggleInfo(this)">
      </div>
    </div>
  </div>
</div>
</body>
</html>